<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="ISO-8859-1">
    <title>List Users</title>
    <link rel="stylesheet" type="text/css" href="/webjars/bootstrap/css/bootstrap.min.css" />
    <script type="text/javascript" src="/webjars/jquery/jquery.min.js"></script>
    <script type="text/javascript" src="/webjars/bootstrap/js/bootstrap.min.js"></script>
</head>
<body>
<div class="container text-center">
    <label for="username">Username</label>
    <p id="username">
                <b th:text="${user.username}"></b>
    </p>
    <label for ="email"> Email</label>
    <p id="email">
        <b th:text="${user.email}"></b>
    </p>
    <label for="firstName">firstName</label>
    <p id="firstName" th:text="*{user.userInfo}? *{user.userInfo.firstName}
    : '(no FirstName)'"></p>
    <br>
    <label for="lastName">lastName</label>
    <p id="lastName" th:text="*{user.userInfo}? *{user.userInfo.lastName}
    : '(no lastName)'"></p>
    <br>
    <label for="FB">FB</label>
    <p id="FB"   th:text="*{user.userInfo}? *{user.userInfo.fb}:
     '(no FB)'"></p>
    <br>
    <label for="Number">Number</label>
    <p id="Number" th:text="*{user.userInfo}? *{user.userInfo.number}:
     '(no Number)'"></p>
    <br>
    <label for="Skype">Skype</label>
    <p id="Skype" th:text="*{user.userInfo}? *{user.userInfo.skype}:
    '(no Skype)'"></p>
    <br>
    <label for="VK">VK</label>
    <p id="VK" th:text="*{user.userInfo}? *{user.userInfo.vk} :
     '(no VK)'"></p>
    </div>
    <br>
        <h3><a th:href="@{/add_product}">Sell account</a></h3>
    <a th:href="@{/profile/user_info}">Add profile info</a>

</body>
</html>